<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="restaurant parrilla buenosAires palermo comida delivery">
    <link rel="stylesheet" href="../css/style.css">
    <title>Locales</title>
</head>
<body class="colorPrimario">
  <div class="containerLocales">
      <nav class="nav navLocales">
          <ul class="nav">
            <li class="nav"><a href="../index.html">Home</a></li>
            <li class="nav"><a href="menu.html">Menu</a></li>
            <li class="nav"><a href="#">Locales</a></li>
            <li class="nav"><a href="contacto.html">Contacto</a></li>
          </ul>
        </nav>
        <main class="mainLocales">
          <img src="../assets/img/logo3.png" alt="logo-menu">
        </main>
        <div  class="section1Locales">
          <h2>Vení a nuestras sucursales a disfrutar de una parrilla típica argentina, un pan casero increíble, pastas artesanales y una variada carta de vinos. Además contamos con juegos para los mas chicos y un salon amplio y cómodo. Te esperamos!</h2>
        </div>
        <div class="section2Locales">
          <h2>Av. Varela 201 / Flores / T. 4487-8057 Todos los días Mediodía y noche</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.8733550964766!2d-58.46639398423618!3d-34.632640566537056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9879447e141%3A0x5987ac604cafb29c!2sAv.%20Varela%20201-299%2C%20C1406EKE%20CABA!5e0!3m2!1ses-419!2sar!4v1647977843544!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="section3Locales">
          <h2>Fitz Roy 2400 / Palermo / T. 4487-1907 Todos los días Mediodía y noche</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.9940121558225!2d-58.43261638423754!3d-34.579018063699586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb590f5be362f%3A0xe332d24b1a464514!2sFitz%20Roy%202400-2300%2C%20C1425FVF%20CABA!5e0!3m2!1ses-419!2sar!4v1647977948117!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      <footer class="footerLocales">
          <h2>LOGO</h2>
          <h2>REDES SOCIALES</h2>
          <h2>CONTACTO</h2>
      </footer>
  </div>
</body>
</html>